
.page-header {
    background-color: var(--color-primary);

    display: flex; /*Um ao lado do outro*/
    flex-direction: column;

}

.page-header .top-bar-container {
    width: 90%;
    margin: 0 auto; /* Margem da caixa*/


    display: flex;
    align-items: center;
    justify-content: space-between; /* Espaço entre eles*/

    padding: 1.6rem;

}

.page-header .top-bar-container a {
    height: 3.2rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    opacity: 0.6;

}

.page-header .top-bar-container > img {
    height: 1.6rem;
}

.page-header .header-content {
    width: 90%;
    margin: 3.2rem auto;
    
    position: relative; /*Não vai impactar no mobile*/
}

.page-header .header-content strong {
    font: 700 3.6rem Archivo;
    /* line-height: 8rem; */
    color: var(--color-title-in-primary);
}

.page-header .header-content p {
    max-width: 30rem;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: var(--color-text-in-primary);
    margin-top: 2.4rem;
}


@media (min-width: 700px) {
    .page-header {
        height: 340px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .header-content {
        max-width: 740px;

        margin: 0 auto;

        flex: 1 1;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .page-header .header-content strong {
        max-width: 350px;
    }


    
}